* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
/*  background: url(../img/flag-00797_800.jpg) center no-repeat;
  background-size: cover;*/
  background-image: linear-gradient(45deg, rgb(157, 198, 107) 5%, rgb(79, 164, 154) 30%, rgb(67, 97, 194));
  background-size: auto, cover, cover;
  padding: 3em;
}

.container {
  position: relative;
  width: 80%;
  max-width: 800px;
  background: rgba(145, 92, 92, 0.3);
  padding: 1.5em;
  border-radius: 20px;
  border-left: 1px solid rgba(255,255,255,0.3);
  border-top: 1px solid rgba(255,255,255,0.3);
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}

/*.fpv-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0;
  background: transparent;
}*/

.fpv-details {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 1em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.report-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.report-item {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.report-checkbox {
  margin-right: 1rem;
}

.report-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.report-field {
  margin-bottom: 0.5rem;
}

.report-actions {
 margin-top: 1rem;
}

.text-center {
  text-align: center;
  padding: 10px 0;
}

.button {
   margin: 0 auto;
   width: calc(100% / 2 - 5px);
   text-align: center;
}

.btn-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#submit-btn, #create-btn, #back-btn {
   height: 70%;
   width: 100%;
   padding: 1em;
   margin: 10px 5px;
   font-size: 1rem;
   background: transparent;
   border: none;
   border-left: 1px solid rgba(255,255,255,0.3);
   border-top: 1px solid rgba(255,255,255,0.3);
   border-radius: 10px;
   backdrop-filter: blur(5px);
   box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
   color: #fff;
   font-family: Montserrat, sans-serif;
   font-weight: 500;
   transition: all 0.2s ease-in-out;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.2);

   &:hover {
     cursor: pointer;
     background: rgba(255,255,255,0.1);
     box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
   }

}